.menu-store{
           background-color: black; 
           color: white;
           text-decoration: none;
           padding: 20px 70px;
           display: block;
           position: relative;
           top: 82px;
           width: 1442px;
           left: -50px;
}

.menu-store:hover{
    color: red;

}

#btn-buy {
    background: black; 
    color: red;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.container{
    width: 1400px;  
    max-width: 1400px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 200px;
    left: 50px; 
}

.container .card{
          width: 330px;  
          height: 400px;
          border-radius: 8px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          margin: 20px;
          text-align: center;
          transition: all 0.25s;

}

.container .card:hover{
                transform: translateY(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);;  
}

.container .card img{
              width: 300px;
              height: 300px; 
}

.container .card h2{
             font-family: Roboto;
             text-decoration: none;  
}


.button{
       background: black; 
       color: red;
       display: inline-block;
       text-align: center;
       width: 100px;
       height: 20px;
       border-radius: 20px;
       text-decoration: none;
}

.footer {
    background-color: black;
    width: 1600px;
    height: 50px;
    position: relative;
    top: 1120px;
    color: white;
}

.footer h1{
       font-size: 14px;
       font-family: Roboto;
       position: relative;
       left: 50px;
       padding: 10px;
       top: 5px;
}

.footer img{
         width: 30px;
         height: 30px;
         position: relative;
         left: 1300px;
         top: -65px;
         margin: 40px;
}

